html {
  background-color: white;
}

h1{
  font-weight:bold;
  font-size: 2.5rem;
  font-style: normal;
  font-family: "Merriweather", normal;
  line-height: 1.5;
  color:white;
  margin:0em;
}

header{
  text-align: center;
  background-color: #cd5b34;
  margin: 0em;
}

h2{
  text-align: center;
  background-color:#cd5b34;
  margin: 0em;
  color:white;
  padding:.5em .5em 0.5em 0em;
  width:100%;
}

h3{
  text-align: center;
  background-color:#cd5b34;
  margin: 0em;
  color:white;
  padding:.5em .5em 0.5em 0em;
}

figcaption{
  font-style: italic;
  color:white;
  text-align:center;
  background-color:#cd5b34;
}

nav ul{
  list-style-type: none;
}


nav{
  background-color:#cd5b34;
  text-align: center;
  padding:.5em .5em 0.5em 0em;
  border-radius:1px;
  border-color:;
}

nav li{
  display:inline-block;
  background-color:#cd5b34;
}

nav a:hover{
  background-color:#cd5b34;
  color:white;
}

nav a{
  display: inline-block;
  padding: 0.5em .75em;
  background-color:#cd5b34;
  color:#fff;
  text-decoration: none;
  border-radius: 4px;
}

footer {
  background-color:#cd5b34;
  padding: .5em;
  text-align: center;
}

.clear-it {
  clear:right;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.inset {
  float:left;
  width: 22%;
  margin-right: 15px;
}
