html{
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header{
  padding:0;
  text-align: center;
  background-color: #cd5b34;
  color:white;
  overflow:hidden;
}

h1{
    width:80%;
    float: left;
    text-align: center;
    padding: 0.5em;
    box-sizing: border-box;
    margin:0em;
}

.left-grain {
  float: left;
  width: 5%;
  padding: 0.5em 0 0 0;
}

.right-grain {
  float: right;
  width: 5%;
  padding: 0.5em 0 0 0;
}

a {
  color: white;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0.75em;
  text-decoration: none;
  border-top: 1px solid #a4403b;
  border-bottom: 1px solid #a4403b;
}

a:hover {
color: #a4403b;
}

.nav1 {
  float: left;
  width: 33%;
}

.nav2 {
  float: left;
  width: 33%;
  border-left: 1px solid #a4403b;
  border-right: 1px solid #a4403b;
}

.nav3 {
  float: left;
  width: 33%;
}

.p1{
  clear:right;
}

.inset {
  float:left;
  clear:left;
  width: 35%;
  margin-right: 15px;
  margin:1em 1em 1em 1em;
  border: 1px solid lightgrey;
}

body {
  font-family: "Merriweather";
  margin: 0;
  line-height: 1.5em;
  font-size: 12px;
}


h3{
  text-align: center;
  background-color:#cd5b34;
  margin: 0em;
  color:white;
  padding:.25em 0em 0em 0.25em;
  font-style:italic;
  font-size: 10px;
}


figcaption{
  font-style: italic;
  color:black;
  text-align:center;
  background-color:#cd5b34;
}




footer {
  clear: both;
  font-size: 10px;
  color: #d98156;
  background-color: #cd5b34;
  padding: 1em;
  text-align: center;
}

.inset {
  float:left;
  width: 22%;
  margin-right: 15px;
}


ul{
  text-align:right;
  font-style:italic;
}



.cereals {
  float: right;
  width: 40%;
  margin-left: 15px;
  margin: 0.5em;
  border: 1px solid lightgrey;
}

.quinoa{
  clear: both;
  float: right;
  width: 40%;
  margin: 0.5em;
  border: 1px solid lightgrey;
}

.corn {
  width: 100%;
}

.rice {
  float: left;
  width: 50%;
}

.oats {
  float: right;
  width: 50%;
}

.legumes {
  clear: left;
float:left;
  width: 20%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  margin: 0.5em 0 0.5em 0.5em ;
}

.legumes-text {
  float: right;
  width: 75%;
  font-style: italic;
  box-sizing: border-box;
}
